<!-- 树状菜单 -->
<div id="menutree" class="ui-menutree">
    <h1 class="menu-itemHeader menu-extension">测试管理</h1>
    <div class="menu-itemCont">
        <ul>
            <li><a href="{=createUrl controller='vote' action='view'=}">测试列表</a></li>
            <li><a href="{=createUrl controller='result' action='view'=}">结语列表</a></li>
            <li><a href="{=createUrl controller='play' action='view'=}">音乐列表</a></li>
            <li><a href="{=createUrl controller='article' action='view'=}">文章列表</a></li>
            <li><a href="{=createUrl controller='fortune' action='view'=}">运势列表</a></li>
            <li><a href="{=createUrl controller='match' action='view'=}">配对列表</a></li>
            <li><a href="{=createUrl controller='userinfo' action='view'=}">用户列表</a></li>
            <li><a href="{=createUrl controller='comment' action='view'=}">评论列表</a></li>     
            <li><a href="{=createUrl controller='good' action='view'=}">喜欢列表</a></li>
        </ul>
    </div>
{=*后台菜单*=}
</div>
